---
import Layout from "../layouts/Layout.astro";
import {
  FaGithub,
  FaTwitter,
  FaLinkedin,
  FaTelegram,
} from "react-icons/fa/index.js";
import {
  SiGo,
  SiElm,
  SiRust,
  SiOcaml,
  SiPython,
  SiTypescript,
  SiJavascript,
} from "react-icons/si/index.js";

import Projects from "../components/Projects";

const socials = [
  {
    name: "Twitter",
    link: "https://twitter.com/frectonz",
    icon: FaTwitter,
  },
  {
    name: "Github",
    link: "https://github.com/frectonz",
    icon: FaGithub,
  },
  {
    name: "Linkedin",
    link: "https://linkedin.com/in/fraol-lemecha",
    icon: FaLinkedin,
  },
  {
    name: "Telegram",
    link: "https://telegram.com/thefrectonz",
    icon: FaTelegram,
  },
];

const languages = [
  {
    name: "Rust",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=rust",
    icon: SiRust,
  },
  {
    name: "Elm",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=elm",
    icon: SiElm,
  },
  {
    name: "TypeScript",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=typescript",
    icon: SiTypescript,
  },
  {
    name: "JavaScript",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=javascript",
    icon: SiJavascript,
  },
  {
    name: "Python",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=python",
    icon: SiPython,
  },
  {
    name: "Go",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=go",
    icon: SiGo,
  },
  {
    name: "OCaml",
    link: "https://github.com/frectonz?tab=repositories&q=&type=&language=ocaml",
    icon: SiOcaml,
  },
];
---

<Layout title="Frectonz">
  <header class="my-10 grid intro-about-grid gap-5 min-h-96">
    <div class="min-h-[300px] border border-black flex flex-col box-shadow">
      <section
        class="p-4 flex-grow flex flex-col sm:flex-row gap-4 items-start justify-start"
      >
        <img src="me.jpg" class="w-28 h-28 rounded-full border border-black" />
        <h1 class="text-4xl">
          Hi, I'm
          <span class="font-serif font-bold">fraol</span> or
          <br />
          <span class="font-serif font-bold">frectonz</span> on the internet.
        </h1>
      </section>
      <section class="p-4 border-t border-black flex gap-5 items-center">
        {
          socials.map((social) => (
            <a href={social.link} class="hover:scale-110">
              <social.icon size="2rem" />
            </a>
          ))
        }
      </section>
    </div>

    <section
      class="min-h-[300px] p-4 border border-black box-shadow bg-black text-white"
    >
      <h1 class="text-3xl font-bold pb-4">About Me</h1>
      <p class="text-xl">
        I have been interested in technology and its ability to influence our
        life for as long as I remember. This interest has lead into the world of
        software development which I enjoy very much
      </p>
    </section>
  </header>

  <article>
    <h1 class="font-serif text-3xl mb-4">Programming Languages I work with</h1>
    <div class="flex gap-2 flex-wrap">
      {
        languages.map((lang) => (
          <a
            href={lang.link}
            title={lang.name}
            class="hover:scale-110"
            target="_blank"
          >
            <lang.icon size="2rem" />
          </a>
        ))
      }
    </div>
  </article>

  <main class="my-10">
    <h1 class="text-4xl font-serif mb-5 font-bold">Projects</h1>
    <Projects client:load />
  </main>
</Layout>

<style>
  .intro-about-grid {
    grid-template-columns: 60% 40%;
  }

  @media (max-width: 900px) {
    .intro-about-grid {
      grid-template-columns: 100%;
    }
  }

  * {
    animation: animate-in 1s ease-in-out;
  }

  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
