---
import "../../style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Blogging</title>

    <meta property="og:type" value="website" />
    <meta property="og:title" value="Blogging" />
    <meta property="og:url" value="/essays/blogging" />
    <meta property="og:image" value="/blogging.png" />
    <meta
      property="og:image:alt"
      value="A picture of a woman writing on a scribe with flower decorations around her in a Roman-Greek style."
    />
  </head>
  <body>
    <header class="my-10 text-center font-serif">
      <p class="text-xl">frectonz's</p>
      <h1 class="text-6xl">Blogging</h1>
    </header>

    <main class="container mx-auto p-4 text-lg grid grid-cols-1 gap-6">
      <p>
        Every time I watch a <a href="https://www.youtube.com/c/DwarkeshPatel"
          >Dwarkesh Patel</a
        >
         episode, they always talk about why blogging is valuable and why
        everyone should do it. Not only because it helps you share your opinions
        with more people and influence them.
      </p>

      <div class="bg-black text-white p-4 box-shadow grid gap-4">
        <h3 class="text-xl font-bold">Tangent</h3>
        <p class="italic">
          Is the purpose of all writing to influence people’s actions? It seems
          like it. Like telling a joke makes someone laugh. Telling a sad story
          makes them sad. Writing is kind of like programming people’s minds.
          Although those examples are more about the power of stories than
          writing itself. Even consider a shopkeeper who keeps a list of
          inventory with profits and item counts. They're keeping those records
          to influence someone's future actions. One use case: giving the list
          to a tax collector, who then calculates how much they owe. In that
          way, the records influenced the tax collector’s decision.
        </p>
      </div>

      <p>
        Blogging also lets you flush out your ideas and analyze them deeply.
        Only then can you tell the difference between your good ideas and the
        bad ones. This effect trains you to come up with more good ideas and
        fewer bad ones—which is a great skill to have.
      </p>

      <p>
        So I guess this will be like an introductory blog. Although I’ve
        published a couple of articles here, it’s been years since the last
        post. From now on, I’ll try to be more consistent with it, and we’ll see
        where it goes.
      </p>

      <p>
        The reason most people cite for not blogging is that they don’t have
        enough ideas. I suspect that’s wrong for most people. I think we all
        like to think, and most of us probably have unique ideas—whether they’re
        good or not. Also, not sharing your ideas is kind of a bad thing. What
        if you're the first person to have a particular idea? You won’t know
        that unless you share it.
      </p>

      <p>
        Some of you might say blogging isn’t the only way to share ideas—for
        example, you can talk to your friends about them. But I don’t know many
        friendships where one friend just calls the other to share an idea they
        had. I don’t think that’s a common part of most friendships. Sure, they
        could talk about it next time they see each other, but there are
        problems with that:
      </p>

      <ul class="list-disc pl-8">
        <li>The person who had the idea might forget it.</li>
        <li>The friend might not be interested in that particular idea.</li>
        <li>
          The meetup might revolve around a task or event, making it hard to
          introduce a new topic randomly.
        </li>
      </ul>

      <p>
        Blogging has an extra feature that makes it incredibly powerful: it's on
        the internet. Potentially, the whole world is your audience. If your
        blog is good, someone who’s interested will eventually find it. Also,
        readers can check it out whenever they have time, just by clicking a
        link.
      </p>

      <p>
        Blogging also gives you a superpower. <span
          class="bg-black text-white p-1"
          >It’s one of the best ways to play the status game</span
        >. Even many smart people and subject matter experts don’t communicate
        much with the general public. Their communication is often limited to
        close collaborators. So if you start blogging about something—even if
        you’re not an expert—and people find it interesting, you become the
        expert in your readers’ minds. That opens a lot of doors and earns you
        respect.
      </p>

      <p>
        So because of all of the above (and more), I’ve always thought blogging
        was cool. I just kept giving myself reasons not to do it. But I guess
        that stops today.
      </p>

      <p>I’ll be back tomorrow with another blog (article, same thing).</p>
    </main>
  </body>
</html>

<style>
  a {
    text-decoration: underline;
  }
</style>
