---
import "../../style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Children of the Real</title>

    <meta property="og:type" value="website" />
    <meta property="og:title" value="Children of the Real" />
    <meta property="og:url" value="/essays/children-of-the-real" />
    <meta property="og:image" value="/children-of-the-real.png" />
    <meta
      property="og:image:alt"
      value="Vintage illustration of seven children standing in a row, holding hands under a flowering tree branch, dressed in early 20th-century clothing."
    />
  </head>
  <body>
    <header class="my-10 text-center font-serif">
      <p class="text-xl">frectonz's</p>
      <h1 class="text-6xl">Children of the Real</h1>
    </header>

    <main class="container mx-auto p-4 text-lg grid grid-cols-1 gap-6">
      <p>
        They had finally done it. They had finally caught the bastard and his
        goons.
      </p>

      <p>
        Rhea was suddenly awoken from her sleep by a cracking noise. She got up
        and looked to her bedside. It was her cat; it seemed like it had broken
        the glass of water Rhea had drunk from earlier that night. She turned
        back to her bed, and it was soaking wet from her sweat. She wasn’t
        surprised; changing out her bedsheets had become a daily ritual since
        she was assigned to this case all those months ago. Today was a very big
        day. It could be the day when they finally find a breakthrough in the
        case they had been working on all this time. She had barely slept that
        night and she didn’t feel well-rested at all.
      </p>

      <p>
        She got in her car and started driving to the detention center. "Today I
        will finally question that bastard," she thought. "How could anyone do
        that? All those children dead... What possible reason could they have?
        It's a regular occurrence with these drugged-up cultists. What reason
        could there be with these junkies?" As she was thinking this and
        driving, suddenly a child came running across the road. She immediately
        slammed the brake and brought the car to a stop. She rolled down her
        window and yelled, “Hey kid, watch where you're going!” The child
        replied, “Sorry, miss. I was late for school.” She replied back to him,
        “Look both ways before you cross. Roads are dangerous.” She started her
        car and continued down the road.
      </p>

      <p>
        "What motive did they have, though?" she thought again. "They aren't
        asking for ransoms. They aren't going after people they're connected
        with. It all just seems so random." "Their murder tool... every single
        death was from that stimulant, Synaptox. The mysterious green fluid
        always found in the victims' brains. Probably something one junkie
        cooked up in their drug dens. It configures the brain's neurons to
        release an explosive amount of synapses that literally fries the
        victim's brain in minutes. The toxicologist said the victims must have
        experienced a tremendous high before dying. With all these properties,
        it seems like they didn't want their victims to suffer. Seems like they
        wanted their victims to die fast and happy." With all these thoughts
        running through her mind, she didn’t even realize that she was at the
        gates of the detention center.
      </p>

      <p>
        She gave a signal to the gatekeeper to raise the gates. As she was
        driving to her parking space, she saw Jaxon, her partner on the case,
        running towards her car. He knocked on her car window.
      </p>

      <p>“What’s wrong, Jaxon? What happened?”</p>

      <p>Jaxon said, “They caught another guy last night.”</p>

      <p>
        “This one was a nurse in the cardiac ward,” said Jaxon. “He was
        apparently mixing Synaptox into the glucose drips of the children under
        intensive care.”
      </p>

      <p>Rhea exclaimed, “Another one!”</p>

      <p>
        “Apparently, this guy used to work with the doctor we brought in a
        couple of weeks ago.”
      </p>

      <p>
        “Oh, so they were accomplices? That makes our case stronger,” said Rhea.
      </p>

      <p>
        “During the initial questioning, he said that the doctor had shown him
        ‘the truth’ when they used to work together.”
      </p>

      <p>
        “Okay, so we definitely need to interview Arden today. There are more of
        them out there. He's our only chance of getting to them all,” said Rhea.
      </p>

      <p>“Are you going to handle talking to that dipshit?” said Jaxon.</p>

      <p>
        “I'll have to, since from all we know, he's kind of their leader or the
        first one.”
      </p>

      <p>
        Rhea started walking to her desk. She told one of the officers, “Bring
        Arden to interrogation room 8.”
      </p>

      <p>The officer turned back and asked, "The one without a camera?"</p>

      <p>Rhea nodded. Then he quickly ran off to do as he was told.</p>

      <p>
        She started reading all of the victims' case files to remind herself of
        all the death that followed the man she was about to interrogate. 203
        children at an elementary school, killed by eating apples spiked with
        Synaptox. 38 children on a field trip killed through gaseous Synaptox
        pumped through the bus's air conditioning. 54 children in an intensive
        care unit killed through glucose bags spiked with Synaptox.
      </p>

      <p>She couldn't go further. She couldn't read more.</p>

      <p>
        The officer came back and gave her a nod. She told the officer to find
        Jaxon and tell him to join her in Room 8. The officer went off running
        again.
      </p>

      <p>
        She opened her desk drawer and took out a pair of brass knuckles. She
        put them on and started walking to Room 8. She opened the door and went
        in.
      </p>

      <p>
        The room only had two chairs for the investigators. The suspect had just
        been thrown on the ground; there was no seat for him. In the corner of
        the room, a man stood wearing dirty clothes. He was skinny, the skin
        around his eyes was black, and even though he was so thin his muscles
        could barely keep him standing, he was slouching, almost to the point of
        falling. This was Arden, the so-called leader of the cult.
      </p>

      <p>
        Rhea sprinted towards him and slammed his head against the wall. Arden
        fell to the ground. Rhea started yelling, “Did killing all those kids
        make you feel strong? Is that what it is? Did you like seeing them die,
        you piece of shit?! Well, news flash, asshole: you were never strong!
        You know that now!” and then she kicked him in the stomach until Arden
        started coughing blood. After that, she stopped, took a couple of steps
        back, and sat on one of the chairs.
      </p>

      <p>
        Just then Jaxon walked in. He saw Arden coughing blood in the corner and
        looked at Rhea. “What? I was INVESTIGATING,” Rhea said sarcastically.
        “You know we need him alive, right?” said Jaxon as he helped Arden up.
        After Arden stopped coughing, Jaxon also took a seat.
      </p>

      <p>
        “We captured another one of your goons last night—the nurse at the
        cardiac ward,” said Jaxon.
      </p>

      <p>
        “Yes,” said Arden. “My friends at the hospital have freed a lot of
        suffering people from the curse of the finite. One of my most proud
        initiatives.”
      </p>

      <p>
        Rhea interjected, “You make it sound like what you guys are doing is
        euthanasia. What about those elementary students who got poisoned with
        an apple, like fucking Snow White? What were they suffering from?”
      </p>

      <p>Arden said, “The finite is made for suffering.”</p>

      <p>
        Jaxon said, “Let’s not reason with this junkie; his mind is fried.
        Apparently, he and his goons have a less potent version of Synaptox that
        gives them incredible highs. It brings them as close to death as
        possible without actually sealing the deal. You can’t get a straight
        sentence out of them.”
      </p>

      <p>
        Rhea asked, “We know there are more of you out there. Where are you
        producing the Synaptox?”
      </p>

      <p>
        Arden said, “We don’t produce it. It was a gift—a gift of knowledge from
        our fellow brothers of the finite.”
      </p>

      <p>Jaxon scoffed, “Ah, your ‘alien friends.’”</p>

      <p>
        Arden replied, “We are brothers. Neither of us are aliens. We are
        brothers cursed with the same illness.”
      </p>

      <p>
        Arden said, “I know that what my friends and I did must seem very wrong
        to you, but that’s because you don’t know the truth.”
      </p>

      <p>
        Rhea interjected, “Yeah, killing hundreds of kids would be considered
        wrong.”
      </p>

      <p>
        Arden continued, “This life is a fake, finite imitation of the infinite
        real. The only way to stop the curse of the finite is to end it, and
        that’s only possible because we are in the finite.”
      </p>

      <p>
        Jaxon started getting angry. “Stop with your afterlife bullshit! Just
        tell us where you make the Synaptox, or you'll end up like the rest. I'm
        sure you've missed them by now.”
      </p>

      <p>
        Arden smirked. “You can’t threaten me with an end to the finite—that is
        what we want. I'm sure my friends accepted the end with smiles on their
        faces.”
      </p>

      <p>
        Rhea said, “You must be really good with words to convince all those
        people to murder children.”
      </p>

      <p>
        Arden replied, “Oh, I'm not very good with words. Never have been. Used
        to work as an engineer. Every one of my friends knew the truth, and it
        only took a sip of the dream Synaptox—the gift from our ‘cosmic
        brothers.’”
      </p>

      <p>
        Rhea asked, “Why kids, though? Why not just blow up a nuclear bomb and
        send everyone to the afterlife?”
      </p>

      <p>
        Arden answered, “The kids are not yet indoctrinated with the limits of
        the finite. Their minds still work in terms of the infinite. We couldn’t
        bear letting them suffer through the pains of this finite existence.”
      </p>

      <p>
        Rhea started demanding, “So what will it take for you to tell us where
        your friends are hiding? Where are you keeping the Synaptox?”
      </p>

      <p>
        Arden sighed. “I don’t feel like I will be able to sustain my life in
        this finite world much longer. I will be leaving soon. I will tell you
        the location if one of you promises to take a sip of the dream Synaptox.
        I will take your word for it.”
      </p>

      <p>
        Rhea said, “I'll do it. I will drink a vial of that dream Synaptox. Then
        I will know the truth.”
      </p>

      <p>Jaxon looked at her, surprised.</p>

      <p>Arden gave them the location.</p>

      <p>
        Jaxon and Rhea quickly ran out of the room. They called the captain and
        told him they had found the location of the hideout. Within a couple of
        minutes, a small army of officers was assembled, and they started
        driving to the location. While they were in the car, the captain gave an
        order to shoot on sight, citing the risk of a hostage situation if they
        didn’t deal with it quickly.
      </p>

      <p>
        They finally got to the hideout. All the officers quickly started
        raiding the building. Rhea and Jaxon decided to stay in their car until
        everything was done. They kept hearing bursts of gunshots. After five
        minutes or so, it was done.
      </p>

      <p>
        Rhea got out of the car and started walking towards the building. At the
        gates, she saw two people dressed all in white, shot dead, with gleeful
        smiles on their faces. As she continued to walk inside the building, all
        she saw were dead people with smiles on their faces, and none of them
        had any weapons. As she continued walking inside, she found herself in a
        giant room with chairs and tables, and barrels of Synaptox. It seemed
        this was the room where they packaged the Synaptox in vials to
        distribute it across the world.
      </p>

      <p>
        At the end of one row, she saw vials containing a lighter green version
        of Synaptox. This was the less potent one they all liked to get high
        on—the one they called the dream Synaptox. She discreetly took one of
        the vials and put it in her pocket.
      </p>

      <p>
        Jaxon was following. He tapped her back and said, “We did it.” Rhea
        answered back, “There could be more of them out there.” “But we stopped
        their main supply of Synaptox. That’s a big win,” said Jaxon. Rhea
        tilted her head in disagreement.
      </p>

      <p>
        Just then an officer came running towards them. “Arden was just found
        dead in his cell.” Jaxon laughed. “Well, we don’t need him anymore.”
      </p>

      <p>
        Rhea, thinking about whether what these people believed was true, felt
        confused about the raid and its aftermath. She told Jaxon she was just
        going to go home and sleep. She got into her car and drove to her house.
        She went into her bedroom and took the vial of dream Synaptox out of her
        pocket. She stared at it for a while, but finally decided to drink it.
      </p>

      <p>
        She immediately fell onto her bed and started falling asleep. Then she
        suddenly felt herself wake up, but she was not in her bedroom anymore.
        She was in a field with lush green grass. She heard the sound of a
        waterfall nearby and the sounds of children playing. She stood up and
        looked at the children. Their faces were familiar—they were all the
        children from her case files.
      </p>

      <p>
        She saw a man walking towards her. He finally reached her, and she
        looked at him. He said, “See? I told you it was real,” with that
        familiar smirk on his face. She knew she had seen that smirk once
        before.
      </p>
    </main>
  </body>
</html>
