---
import "../../style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Teleportation</title>
  </head>
  <body>
    <header class="my-10 text-center font-serif">
      <p class="text-xl">frectonz's</p>
      <h1 class="text-6xl">Teleportation</h1>
    </header>

    <main class="container mx-auto p-4 text-lg grid grid-cols-1 gap-4">
      <p>
        On the morning of Thursday, August 17, 2345, Charlie Solton, a computer
        programmer, stood on the precipice of destiny. The culmination of his
        aspirations had arrived – he had been granted a transfer to the Mars
        division of Terminus Inc.
      </p>
      <p>
        Mars was by far the fastest growing sector in the Interplanetary
        Consortium. Since the cost of moving to Mars was very high nearly
        everyone on Mars was there through a corporate sponsorship. The
        corporations that were operating on Mars were forming a kind of
        meritocracy where if you wanted to live there you had to be an extra
        ordinary worker and if some of the higher up noticed you will finally
        get your teleportation voucher addressed to Mars.
      </p>
      <p>
        Yes, you read that right teleportation vouchers. Although ion engine
        powered space ships were widely available, they took more than 200 days
        to get to Mars. Teleportation on the other hand, took only 6 hours.
      </p>
      <p>
        Charlie had arrived at the Hermes Teleportation Station. An attendant
        came up to him, looked at his voucher and took him to the teleportation
        pod he was assigned to.
      </p>

      <p>
        Charlie stepped into the white gleaming egg-like pod. The world around
        him dimmed, as a soothing voice greeted him, "Welcome to Hermes
        Teleport". The opening he came in to the pod through started closing. He
        was now completely enveloped inside the pod.
      </p>

      <p>
        "Your destination has been configured to be Terminus Inc. Receiver #13,
        Is this correct?" the voice asked.
      </p>

      <p>
        With eagerness, Charlie confirmed his destination, and the voice
        continued, "Shall we commence the extraction process?"
      </p>

      <p>A surge of anticipation filled him, "Yes, please."</p>

      <p>
        A green semi-liquid substance started filling the pod, its embrace both
        alien and strangely comforting. Charlie was then totally submerged in
        the substance but the peculiar thing was he could steal breathe.
        Unconcerned, he listened as the voice assured him of the process's
        safety, "Fear not, Charlie. The extraction is safe and underway".
      </p>

      <p>
        The substance stared refracting light and showing sudden movements
        seeming like it had become alive. The green liquid substance was made
        from small nanobots smaller than the smallest viruses not exceeding an
        average size of 5 nm. He felt the nanobots diffuse through his skin and
        enter his body. The nanobots started cataloging every single part of his
        body down to the molecular level. Every cell in his body, his brain
        cells, his synapses and within them his thoughts were all cataloged by
        these incredibly small nanobots.
      </p>

      <p>
        Small drain holes formed on the floor of the pod. The green semi-liquid
        substance started draining away from the pod. The voice uttered,
        "Extraction complete".
      </p>

      <p>
        "Suggested improvements detected. Would you like to review them?" the
        voice offered.
      </p>

      <p>
        Intrigued, Charlie requested to review the suggested improvements. A
        holographic screen formed in front of him listing various options titled
        "Cosmetic Adjustments". Some of the options were "adjust hairline",
        "lighten skin tone", "increase lip size", "change hair color" and a
        whole lot more.
      </p>

      <p>
        Charlie thought "How is this possible? Of course, the pod has extracted
        every piece of information of what makes him him: the cells in his body,
        the bacteria in and on his body including his brain configuration down
        to the synapses of every single neuron. It is possible to alter that
        information in order to apply these enhancements before the
        reconstruction phase starts on Mars".
      </p>

      <p>
        Charlie's mind wandered to the capabilities at his fingertips, to the
        power to manipulate his very identity. He kept scrolling the list of the
        available options and finally got to another section titled "Advanced
        Modifications".
      </p>

      <p>
        The voice intervened, "These are restricted modifications only available
        for authorized personnel. Please restrict your options to the section
        titled 'Cosmetic Adjustments'."
      </p>

      <p>
        As he contemplated these possibilities, a cosmic ray released from the
        very core of the sun was zipping through the vacuum of space on a
        trajectory straight to charlie's pod. Eventually it entered the pod and
        stroke a single bit in the pod's computer flipping it from 0 to 1, the
        part of the memory that was storing the state of whether the current
        user was an authorized personnel or not. The state was changed to be
        true. Charlie had now got access to the "Authorized Modifications"
        through the utter dumb luck of total randomness.
      </p>

      <p>
        The voice intervened once again, "Authorized personnel status granted.
        Advanced modifications unlocked." Charlie didn't think much of this, he
        was too perplexed by the options presented to him.
      </p>

      <p>
        He started scrolling through the advanced modifications section, he saw
        "alter IQ", "change skin tone", "change sex" and other wild options to
        transcend biology. Among these options lay a door to infinite potential:
        "JavaScript Console Access".
      </p>

      <p>
        Charlie dared to venture further and chose "JavaScript Console Access".
        To his astonishment, the interface transformed into a code editor,
        complete with a holographic keyboard. At the top of the interface lay a
        small descriptive text that said, "Available objects", the list had only
        one entry person. Charlie knew what he should do.
      </p>

      <p>
        Charlie proceeded to type `person.` . An autocomplete pop up appeared in
        front of him listing the various properties and methods he had access
        to. He began to access the properties.
      </p>

       ``` <br />
      {">"} person.name <br />
       "Charlie Solton" <br />
      {">"} person.hairColor <br />
       "black" <br />
      {">"} person.iq <br />
       120 <br />
       ```

      <p>
        Charlie now understood what this machine was capable of. Yet, a question
        lingered, the most profound question of them all. Could the symphony
        reveal the finale of his existence? With a sense of dread, Charlie
        typed: `person.deathDate` and the machine responded once again.
      </p>
    </main>
  </body>
</html>
