* {
  font-family: "Fira Code", monospace !important;
}

body {
  background-image: url(/dots.png);
  background-position: 0 0;
  background-size: 30px;
}

.box-shadow {
  box-shadow: 5px 5px hsla(0, 0%, 0%, 0.5);
}

.text-highlight {
  color: white;
  background-color: black;
  padding: 0.5px 2px;
}

main p {
  text-align: justify;
}
